*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.products{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #efefef;
    width: 100%;
    flex-wrap: wrap;
    padding-top: 30px;
    line-height: 1.3;
    background: linear-gradient(30deg, #f43b3b, #444, #22a55ff5, rgb(245, 229, 53), #4070f4);
}

.content1{
    margin: 0 40px 40px;
}
.card1{
    width: 230px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content1,
.card-content1{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content1{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay1{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #444;
    border-radius: 25px 25px 25px 25px;
}

.card-image1{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image1 .card-img1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #444;
}

.name1{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description1{
    font-size: 18px;
    color: #707070;
    text-align: center;
    padding-top: 20px;
}

.button1{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #444;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button1:hover{
    background-color: #333;
}

.name1 .n1{
    padding-left: 40px;
}







.content2{
    margin: 0 40px 40px;
}
.card2{
    width: 230px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content2,
.card-content2{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content2{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay2{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #f62626;
    border-radius: 25px 25px 25px 25px;
}

.card-image2{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image2 .card-img2{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f62626;
}

.name2{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description2{
    font-size: 18px;
    color: #707070;
    text-align: center;
    padding-top: 20px;
    padding-left: 13px;
    padding-right: 10px;
}

.button2{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #f62626;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button2:hover{
    background-color:#f70a0a;
}

.name2 .n2{
    padding-left: 15px;
}








.content3{
    margin: 0 40px 40px;
}
.card3{
    width: 230px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content3,
.card-content3{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content3{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay3{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #5b2a2ff5;
    border-radius: 25px 25px 25px 25px;
}

.card-image3{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image3 .card-img3{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #5b2a2ff5;
}

.name3{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description3{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
}

.button3{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #5b2a2ff5;
    border-radius: 6px;
    margin: 27px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button3:hover{
    background-color: #3f2529;
}

.name3 .n3{
    padding-left: 9px;
}





.content4{
    margin: 0 40px 40px;
}
.card4{
    width: 230px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content4,
.card-content4{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content4{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay4{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #22a050;
    border-radius: 25px 25px 25px 25px;
}

.card-image4{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image4 .card-img4{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #22a050;
}

.name4{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description4{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
}

.button4{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #22a050;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button4:hover{
    background-color: #06a23f;
}

.name4 .n4{
    padding-left: 24px;
}






.content5{
    margin: 0 40px 40px;
}
.card5{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content5,
.card-content5{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content5{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay5{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #dc2a86;
    border-radius: 25px 25px 25px 25px;
}

.card-image5{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image5 .card-img5{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #dc2a86;
}

.name5{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description5{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
}

.button5{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #dc2a86;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button5:hover{
    background-color: #fa0cb3;
}

.name5 .n5{
    padding-left: 13px;
}







.content6{
    margin: 0 40px 40px;
}
.card6{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content6,
.card-content6{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content6{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay6{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #ecec2b;
    border-radius: 25px 25px 25px 25px;
}

.card-image6{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image6 .card-img6{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #ecec2b;
}

.name6{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description6{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
    padding-left: 20px;
    padding-right: 17px;
}

.button6{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #ecec2b;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button6:hover{
    background-color: #eaea0e;
}

.name6 .n6{
    padding-left: 28px;
}



.content7{
    margin: 0 40px 40px;
}
.card7{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
    
}

.image-content7,
.card-content7{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content7{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay7{
    position: absolute;
    left: 0;
    top: 0;
    height: 190px;
    width: 100%;
    background-color: rgb(53, 175, 245);
    border-radius: 25px 25px 25px 25px;
}

.card-image7{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image7 .card-img7{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid rgb(53, 175, 245);
}

.name7{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description7{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
    padding-left: 20px;
    padding-right: 17px;
}

.button7{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: rgb(53, 175, 245);
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button7:hover{
    background-color: #06b0f3f5;
}

.name7 .n7{
    padding-left: 27px;
}











.content10{
    margin: 0 40px 40px;
}
.card10{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content10,
.card-content10{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content10{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay10{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #f43b3b;
    border-radius: 25px 25px 25px 25px;
}

.card-image10{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image10 .card-img10{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #f43b3b;
}

.name10{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description10{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
    padding-left: 20px;
    padding-right: 17px;
}

.button10{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #f43b3b;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button10:hover{
    background-color: #f70a0a;
}

.name10 .n10{
    padding-left: 18px;
}



.content11{
    margin: 0 40px 40px;
}
.card11{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content11,
.card-content11{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content11{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay11{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #22a55ff5;
    border-radius: 25px 25px 25px 25px;
}

.card-image11{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image11 .card-img11{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #22a55ff5;
}

.name11{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description11{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
    padding-left: 20px;
    padding-right: 17px;
}

.button11{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #22a55ff5;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button11:hover{
    background-color: #22a050;
}

.name11 .n11{
    padding-left: 22px;
}



.content12{
    margin: 0 40px 40px;
}
.card12{
    width: 250px;
    border-radius: 25px;
    background-color: #fff;
    height: 400px;
}

.image-content12,
.card-content12{
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-content12{
    row-gap: 5px;
    position: relative;
    padding: 25px 0;
    
}

.overlay12{
    position: absolute;
    left: 0;
    top: 0;
    height: 28vh;
    width: 100%;
    background-color: #333;
    border-radius: 25px 25px 25px 25px;
}

.card-image12{
    position: relative;
    height: 150px;
    width: 150px;
    background-color:#fff;
    padding: 3px;
    border-radius: 50%;
}

.card-image12 .card-img12{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #333;
}

.name12{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}

.description12{
    font-size: 18px;
    padding-top: 20px;
    color: #707070;
    text-align: center;
    padding-left: 20px;
    padding-right: 17px;
}

.button12{
    border: none;
    font-size: 16px;
    color: #fff;
    padding: 8px 16px;
    background-color: #333;
    border-radius: 6px;
    margin: 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button12:hover{
    background-color: #222;
}

.name12 .n12{
    padding-left: 35px;
}

/* Mobile devices (portrait and landscape) */
@media only screen and (max-width: 767px) {
    .products{
        width: 100%;
    }
    .overlay2,.overlay1,.overlay3,.overlay4,.overlay5,.overlay6,.overlay10,.overlay11,.overlay12{
        height: 190px;
    }
}

  /* Tablets and smaller desktops */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .products{
        width: 100%;
    }
    .overlay2,.overlay1,.overlay3,.overlay4,.overlay5,.overlay6,.overlay7,.overlay10,.overlay11,.overlay12{
        height: 190px;
    }
}

  /* Standard desktops and larger */
    @media only screen and (min-width: 1024px) and (max-width: 1439px){
    .products{
        width: 100%;
    }
    .overlay2,.overlay1,.overlay3,.overlay4,.overlay5,.overlay6,.overlay7,.overlay10,.overlay11,.overlay12{
        height: 190px;
    }
}

@media only screen and (min-width: 1440px) and (max-width: 2559px){

    .overlay2,.overlay1,.overlay3,.overlay4,.overlay5,.overlay6,.overlay10,.overlay11,.overlay12{
        height: 190px;
    }
    .card5,.card6,.card7,.card10,.card11,.card12{
        width: 300px;
    }
    .description10{
        padding-left: 29px;
        padding-right: 23px;
    }
}
